<div class="navbar">
  <div class="logo-container">
    <img src="assets/img/logo-gac.png" class="logo" alt="Logo" />
  </div>
  <span class="title">HORAS COMPLEMENTARES</span>
  <span style="flex: 0; display: flex; gap: 12px">
    <button mat-icon-button>
      <mat-icon>chat</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>help_outline</mat-icon>
    </button>

    <button mat-icon-button (click)="sair()">
      <mat-icon>logout</mat-icon>
    </button>
  </span>
</div>

<div class="container-box">
  <div class="container">
    <div class="form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nome Completo</mat-label>
        <input
          matInput
          placeholder="Digite seu nome completo sem abreviações"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Status</mat-label>
        <mat-select>
          <mat-option> </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Gestor</mat-label>
        <mat-select>
          <mat-option> </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tipo de Gestão</mat-label>
        <mat-select>
          <mat-option> </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="actions">
  <button mat-raised-button color="primary">Aprovar</button>
  <button mat-raised-button color="warn">Recusar</button>
</div>
