<div class="modal-container">
  <h2 class="titulo">Motivo da Recusa</h2>
  <div class="formulario">
    <mat-form-field appearance="outline" class="campo-horas">
      <mat-label>Observação</mat-label>
      <textarea
        matInput
        [(ngModel)]="observacao"
        placeholder="motivo"
        rows="4"
      ></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="confirmar"
      (click)="confirmar()"
    >
      Confirmar
    </button>
  </div>
</div>
