<div class="modal-container">
  <h2 class="titulo">Motivo da Recusa</h2>
  <form [formGroup]="form" class="formulario">
    <mat-form-field appearance="outline" class="campo-horas">
      <mat-label>Comentário</mat-label>
      <textarea
        matInput
        formControlName="comentario"
        placeholder="Descreva o motivo"
        rows="4"
      ></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      color="warn"
      (click)="recusar()"
      [disabled]="form.invalid"
    >
      Confirmar
    </button>
  </form>
</div>
